@charset "UTF-8";
/* Setting général */
html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* POLICE */
@font-face {
  font-family: "trueno";
  src: url("./font/trueno.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "truenolight";
  src: url("./font/truenolt.otf") format("truetype");
  font-weight: normal;
}
/* COULEUR PRINCIPALE */
/* Header */
.bandeau_page_principale {
  width: 100%;
}
.bandeau_page_principale div {
  background-color: #549B85;
  margin: 0;
  padding: 0;
}
.bandeau_page_principale div h1 {
  font-family: "trueno";
  color: #F1C849;
  font-size: 2.6rem;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
.bandeau_page_principale div a {
  text-decoration: none;
  color: #F1C849;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 0;
  background-color: #549B85;
  color: #F1C849;
  font-family: "truenolight";
}
footer a {
  color: #F1C849;
  text-decoration: none;
}
footer .mentions-légales {
  margin: 0 0 0 20px;
}
footer .mentions-légales:hover {
  animation: wiggle 1s;
}
@keyframes wiggle {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}
footer .contactez-nous {
  margin: 0 20px 0 0;
}
footer .contactez-nous:hover {
  animation: wiggle 0.82s;
  transform: translate(0, 0);
}

/* Section centrale */
/* PARAMETRE MENU */
.bloc_central {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.3rem;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  /* MENU NOTE ENCHANTEE */
  /* MENU CHIC FRANCAISE */
  /* MENU DELICE PAPILLES */
  /* MENU PALETTE GOUT */
}
.bloc_central > div {
  box-shadow: 0px 0px 5px 2px #ededed;
  margin: 40px 0 20px 0;
  padding: 0;
  width: 36%;
}
.bloc_central h3 {
  font-size: 2rem;
  margin-top: 0;
}
.bloc_central p {
  margin-bottom: 10px;
}
.bloc_central .menu-note-enchantee {
  background-color: #fcdfdb;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-right: 20px;
  font-family: "Devonshire", cursive;
}
.bloc_central .menu-note-enchantee h3 {
  font-family: "Kalam", cursive;
}
.bloc_central .menu-note-enchantee i {
  font-size: 2rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bloc_central .menu-note-enchantee p {
  margin-top: 2px;
}
.bloc_central .menu-note-enchantee a {
  text-decoration: none;
  color: #3c1218;
}
.bloc_central .element-menu {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.bloc_central .element-menu:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 0.75;
}
.bloc_central .menu-chic-francaise {
  background-color: #fef5ff;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-left: 20px;
  font-family: "Croissant One", cursive;
}
.bloc_central .menu-chic-francaise p {
  background: #c67412;
  background: linear-gradient(to right, #c67412 25%, #b380d6 55%, #925ffe 85%);
  background: -webkit-linear-gradient(to right, #c67412 25%, #b380d6 55%, #925ffe 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bloc_central .menu-chic-francaise h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  color: #c67412;
}
.bloc_central .menu-chic-francaise a {
  text-decoration: none;
}
.bloc_central .menu-delice-papilles {
  background-color: #F9F9F9;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-right: 20px;
  font-family: "Dancing Script", cursive;
}
.bloc_central .menu-delice-papilles p {
  background: linear-gradient(to right, #072ddd 25%, #1571f3 55%, #249ef9 85%);
  background: -webkit-linear-gradient(to right, #072ddd 25%, #1571f3 55%, #249ef9 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bloc_central .menu-delice-papilles h3 {
  font-family: "Kalam", cursive;
}
.bloc_central .menu-delice-papilles a {
  text-decoration: none;
  color: #1b88fb;
}
.bloc_central .menu-palette-goût {
  background-color: #FDFFFD;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-left: 20px;
  font-family: "Kaushan Script", cursive;
}
.bloc_central .menu-palette-goût p {
  background: linear-gradient(to right, #479a44 25%, #83cd60 55%, #BEFF7F 85%);
  background: -webkit-linear-gradient(to right, #479a44 25%, #83cd60 55%, #BEFF7F 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bloc_central .menu-palette-goût h3 {
  font-family: "Kalam", cursive;
  color: #72bf56;
}
.bloc_central .menu-palette-goût a {
  text-decoration: none;
}

/* BOUTON PROCHAINEMENT */
.bouton-prochainement {
  display: block;
  overflow-wrap: break-word;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  padding: 12px 8px 12px 8px;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  background-color: #549B85;
  color: #F1C849;
  font-family: "truenolight";
}
.bouton-prochainement .point_1 {
  display: inline-block;
  animation: point_1 550ms ease-in-out;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bouton-prochainement .point_2 {
  display: inline-block;
  animation: point_2 550ms ease-in-out;
  animation-delay: 200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bouton-prochainement .point_3 {
  display: inline-block;
  animation: point_3 550ms ease-in-out;
  animation-delay: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes point_1 {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes point_2 {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes point_3 {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* PAGE: MENTION LEGALE */
.mentions {
  text-align: center;
  font-family: "trueno";
  color: #549B85;
}

/* PAGE: MENU - LA NOTE ENCHANTÉE */
/* Bloc principal */
.conteneur__note-enchantée {
  border: 1px solid #fcdfdb;
  background-color: #fcdfdb;
  color: #3c1218;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 3.5rem 4rem 1rem 4rem;
  width: 65%;
  font-family: "Kalam", cursive;
  font-weight: lighter;
  /* Titre bloc principal */
  /* Titre Entrée, Plat, Dessert */
  /* Description plat - prix */
  /* Footer */
}
.conteneur__note-enchantée .titre_conteneur {
  font-family: "Devonshire", cursive;
  text-align: center;
}
.conteneur__note-enchantée .titre_conteneur h1 {
  margin-top: 1px;
}
.conteneur__note-enchantée .titre_conteneur i {
  font-size: 3rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.conteneur__note-enchantée .titre_menu__note-enchantée {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.conteneur__note-enchantée .titre_menu__note-enchantée img {
  width: 100%;
}
.conteneur__note-enchantée .titre_menu__note-enchantée h3 {
  margin: 0;
  padding: 0;
  width: 35%;
}
.conteneur__note-enchantée .titre_menu__note-enchantée h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #3c1218;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.conteneur__note-enchantée .titre_menu__note-enchantée h3:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
.conteneur__note-enchantée .menu_description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.conteneur__note-enchantée .menu_description div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.conteneur__note-enchantée .menu_description p {
  margin-bottom: 1px;
}
.conteneur__note-enchantée .menu_description .prix {
  font-weight: bold;
}
.conteneur__note-enchantée .titre_footer {
  text-align: center;
  font-family: "Devonshire", cursive;
  font-size: 1.5rem;
}
.conteneur__note-enchantée .titre_footer i {
  font-size: 1.8rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* PAGE: MENU - LE CHIC A LA FRANCAISE */
/* Bloc Principal */
.conteneur__chic-francaise {
  border: 1px solid #fef5ff;
  background-color: #fef5ff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 3.5rem 4rem 1rem 4rem;
  width: 65%;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  /* Titre bloc Principal */
  /* Titre Entrée, Plat, Dessert */
  /* Description Plat, Prix */
  /*  Couleur Entrée, Plat, Dessert */
}
.conteneur__chic-francaise .titre_conteneur {
  background: #c67412;
  background: linear-gradient(to right, #c67412 25%, #b380d6 55%, #925ffe 85%);
  background: -webkit-linear-gradient(to right, #c67412 25%, #b380d6 55%, #925ffe 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Croissant One", cursive;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.conteneur__chic-francaise .titre_menu__chic-francaise {
  text-align: center;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #c67412;
}
.conteneur__chic-francaise .titre_menu__chic-francaise img {
  width: 90%;
}
.conteneur__chic-francaise .titre_menu__chic-francaise .fleche {
  -webkit-transform: rotate(1.5turn);
  -moz-transform: rotate(1.5turn);
  -ms-transform: rotate(1.5turn);
  -o-transform: rotate(1.5turn);
  transform: rotate(1.5turn);
}
.conteneur__chic-francaise .titre_menu__chic-francaise h3 {
  margin: 0;
  padding: 0;
  width: 40%;
}
.conteneur__chic-francaise .menu_description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  padding-right: 3rem;
  padding-left: 3rem;
}
.conteneur__chic-francaise .menu_description div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.conteneur__chic-francaise .menu_description p {
  margin-bottom: 1px;
}
.conteneur__chic-francaise .menu_description .prix {
  font-weight: bold;
}
.conteneur__chic-francaise .bloc_entree--couleur {
  color: #c67412;
}
.conteneur__chic-francaise .bloc_entree--couleur h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #c67412;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.conteneur__chic-francaise .bloc_entree--couleur h3:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
.conteneur__chic-francaise .bloc_plat--couleur {
  color: #a56799;
}
.conteneur__chic-francaise .bloc_plat--couleur h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a56799;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.conteneur__chic-francaise .bloc_plat--couleur h3:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
.conteneur__chic-francaise .bloc_dessert--couleur {
  color: #6e4ccc;
}
.conteneur__chic-francaise .bloc_dessert--couleur h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #6e4ccc;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.conteneur__chic-francaise .bloc_dessert--couleur h3:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

/* PAGE: MENU - LE DELICE DES PAPILLES */
/* Bloc principal */
.conteneur__délice-papilles {
  border: 1px solid #F9F9F9;
  background-color: #F9F9F9;
  color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 3.5rem 4rem 1rem 4rem;
  width: 65%;
  font-family: "Kalam", cursive;
  font-weight: lighter;
  /* Titre bloc principal */
  /* Titre Entrée, Plat, Dessert */
  /* Description plat - prix */
  /* Footer */
}
.conteneur__délice-papilles .titre_conteneur {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right, #072ddd 25%, #1571f3 55%, #249ef9 85%);
  background: -webkit-linear-gradient(to right, #072ddd 25%, #1571f3 55%, #249ef9 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}
.conteneur__délice-papilles .titre_conteneur h1 {
  margin-top: 1px;
  font-size: 2.5rem;
  font-weight: lighter;
}
.conteneur__délice-papilles .titre_menu__délice-papilles {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.conteneur__délice-papilles .titre_menu__délice-papilles img {
  width: 90%;
}
.conteneur__délice-papilles .titre_menu__délice-papilles .fleche {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.conteneur__délice-papilles .titre_menu__délice-papilles h3 {
  margin: 0;
  padding: 0;
  width: 40%;
  font-weight: lighter;
}
.conteneur__délice-papilles .titre_menu__délice-papilles .bloc--entree::after, .conteneur__délice-papilles .titre_menu__délice-papilles .bloc--plat::after, .conteneur__délice-papilles .titre_menu__délice-papilles .bloc--dessert::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1b88fb;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.conteneur__délice-papilles .titre_menu__délice-papilles .bloc--entree:hover::after, .conteneur__délice-papilles .titre_menu__délice-papilles .bloc--plat:hover::after, .conteneur__délice-papilles .titre_menu__délice-papilles .bloc--dessert:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
.conteneur__délice-papilles .menu_description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  padding-right: 3rem;
  padding-left: 3rem;
}
.conteneur__délice-papilles .menu_description div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.conteneur__délice-papilles .menu_description p {
  margin-bottom: 1px;
}
.conteneur__délice-papilles .titre_footer {
  text-align: center;
  font-family: "Devonshire", cursive;
  font-size: 1.5rem;
}
.conteneur__délice-papilles .titre_footer i {
  font-size: 1.8rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* PAGE: MENU - LA PALETTE DU GOÛT */
/* Bloc principal */
.conteneur__palette-gout {
  border: 1px solid #FDFFFD;
  background-color: #FDFFFD;
  color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 3.5rem 4rem 1rem 4rem;
  width: 65%;
  font-family: "Kalam", cursive;
  font-weight: lighter;
  /* Titre bloc principal */
  /* Titre Entrée, Plat, Dessert */
  /* Description plat - prix */
  /* Footer */
}
.conteneur__palette-gout .titre_conteneur {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #479a44 25%, #83cd60 55%, #BEFF7F 85%);
  background: -webkit-linear-gradient(to right, #479a44 25%, #83cd60 55%, #BEFF7F 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}
.conteneur__palette-gout .titre_conteneur h1 {
  margin-top: 1px;
  font-size: 2.5rem;
  font-weight: lighter;
}
.conteneur__palette-gout .titre_menu__palette-gout {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.conteneur__palette-gout .titre_menu__palette-gout img {
  width: 90%;
}
.conteneur__palette-gout .titre_menu__palette-gout .fleche {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.conteneur__palette-gout .titre_menu__palette-gout h3 {
  margin: 0;
  padding: 0;
  width: 40%;
  font-weight: lighter;
}
.conteneur__palette-gout .titre_menu__palette-gout .bloc--entree::after, .conteneur__palette-gout .titre_menu__palette-gout .bloc--plat::after, .conteneur__palette-gout .titre_menu__palette-gout .bloc--dessert::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #72bf56;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.conteneur__palette-gout .titre_menu__palette-gout .bloc--entree:hover::after, .conteneur__palette-gout .titre_menu__palette-gout .bloc--plat:hover::after, .conteneur__palette-gout .titre_menu__palette-gout .bloc--dessert:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
.conteneur__palette-gout .menu_description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  padding-right: 3rem;
  padding-left: 3rem;
}
.conteneur__palette-gout .menu_description div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.conteneur__palette-gout .menu_description p {
  margin-bottom: 1px;
}
.conteneur__palette-gout .titre_footer {
  text-align: center;
  font-family: "Devonshire", cursive;
  font-size: 1.5rem;
}
.conteneur__palette-gout .titre_footer i {
  font-size: 1.8rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* MEDIA QUERIES */
@media screen and (max-width: 920px) {
  html, body {
    font-size: 16px;
  }

  .bloc_central {
    flex-direction: column;
    width: auto;
  }
  .bloc_central .menu-note-enchantee, .bloc_central .menu-chic-francaise, .bloc_central .menu-delice-papilles, .bloc_central .menu-palette-goût {
    width: auto;
    padding: 20px 0 20px 0;
    margin: 15px 10px 15px 10px;
  }

  .bouton-prochainement {
    width: 60%;
  }

  .conteneur__note-enchantée {
    width: auto;
    margin: 10px;
    padding: 10%;
  }
  .conteneur__note-enchantée .titre_menu__note-enchantée {
    flex-direction: column;
    align-items: center;
  }
  .conteneur__note-enchantée .menu_description {
    flex-direction: column;
    text-align: center;
  }
  .conteneur__note-enchantée .menu_description div, .conteneur__note-enchantée .menu_description p {
    display: block;
  }

  .conteneur__chic-francaise {
    width: auto;
    margin: 10px;
    padding: 10%;
  }
  .conteneur__chic-francaise .titre_menu__chic-francaise {
    flex-direction: column;
    align-items: center;
  }
  .conteneur__chic-francaise .menu_description {
    flex-direction: column;
    text-align: center;
  }
  .conteneur__chic-francaise .menu_description div, .conteneur__chic-francaise .menu_description p {
    display: block;
  }

  .conteneur__délice-papilles {
    width: auto;
    margin: 10px;
    padding: 10%;
  }
  .conteneur__délice-papilles .titre_menu__délice-papilles {
    flex-direction: column;
    align-items: center;
  }
  .conteneur__délice-papilles .menu_description {
    flex-direction: column;
    text-align: center;
  }
  .conteneur__délice-papilles .menu_description div, .conteneur__délice-papilles .menu_description p {
    display: block;
  }

  .conteneur__palette-gout {
    width: auto;
    margin: 10px;
    padding: 10%;
  }
  .conteneur__palette-gout .titre_menu__palette-gout {
    flex-direction: column;
    align-items: center;
  }
  .conteneur__palette-gout .menu_description {
    flex-direction: column;
    text-align: center;
  }
  .conteneur__palette-gout .menu_description div, .conteneur__palette-gout .menu_description p {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
