@charset "UTF-8";
/* POLICE */
@font-face {
  font-family: "trueno";
  src: url("./font/trueno.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "truenolight";
  src: url("./font/truenolt.otf") format("truetype");
  font-weight: normal;
}
/* COLOR */
/* Setting général */
html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Header */
.bandeau_page_principale {
  width: 100%;
}
.bandeau_page_principale div {
  background-color: #549B85;
  margin: 0;
  padding: 0;
}
.bandeau_page_principale div h1 {
  font-family: "trueno";
  color: #F1C849;
  font-size: 2.6rem;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* Section centrale */
/* PARAMETRE MENU */
.bloc_central {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.3rem;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  /* MENU NOTE ENCHANTEE */
  /* MENU CHIC FRANCAISE */
  /* MENU DELICE PAPILLES */
  /* MENU PALETTE GOUT */
}
.bloc_central > div {
  box-shadow: 0px 0px 5px 2px #ededed;
  margin: 40px 0 20px 0;
  padding: 0;
  width: 36%;
}
.bloc_central h3 {
  font-size: 2rem;
  margin-top: 0;
}
.bloc_central p {
  margin-bottom: 10px;
}
.bloc_central .menu-note-enchantee {
  background-color: #fcdfdb;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-right: 20px;
  font-family: "Devonshire", cursive;
}
.bloc_central .menu-note-enchantee h3 {
  font-family: "Kalam", cursive;
}
.bloc_central .menu-note-enchantee i {
  font-size: 2rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  color: transparent;
}
.bloc_central .menu-note-enchantee p {
  margin-top: 2px;
}
.bloc_central .menu-note-enchantee a {
  text-decoration: none;
  color: #3c1218;
}
.bloc_central .element-menu {
  transform: scale(1);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.bloc_central .element-menu:hover {
  transform: scale(1.1);
  opacity: 0.75;
}
.bloc_central .menu-chic-francaise {
  background-color: #fef5ff;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-left: 20px;
  font-family: "Croissant One", cursive;
}
.bloc_central .menu-chic-francaise p {
  background: linear-gradient(to right, #c77412, #925dfc);
  -webkit-background-clip: text;
  color: transparent;
}
.bloc_central .menu-chic-francaise h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  color: #c77412;
}
.bloc_central .menu-delice-papilles {
  background-color: #F9F9F9;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-right: 20px;
  font-family: "Dancing Script", cursive;
}
.bloc_central .menu-delice-papilles p {
  background: linear-gradient(to right, #2055e6, #5aaffa);
  -webkit-background-clip: text;
  color: transparent;
}
.bloc_central .menu-delice-papilles h3 {
  font-family: "Kalam", cursive;
  color: #1b88fb;
}
.bloc_central .menu-palette-goût {
  background-color: #FDFFFD;
  text-align: center;
  padding: 200px 0 200px 0;
  margin-left: 20px;
  font-family: "Kaushan Script", cursive;
}
.bloc_central .menu-palette-goût p {
  background: linear-gradient(to right, #42973c, #c6ff8d);
  -webkit-background-clip: text;
  color: transparent;
}
.bloc_central .menu-palette-goût h3 {
  font-family: "Kalam", cursive;
  color: #72bf56;
}

/* BOUTON PROCHAINEMENT */
.bouton-prochainement {
  display: block;
  overflow-wrap: break-word;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  padding: 12px 8px 12px 8px;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  background-color: #549B85;
  color: #F1C849;
  font-family: "truenolight";
}
.bouton-prochainement .point_1 {
  display: inline-block;
  animation: point_1 1s ease-in-out;
  animation-iteration-count: infinite;
}
.bouton-prochainement .point_2 {
  display: inline-block;
  animation: point_2 0.9s ease-in-out;
  animation-iteration-count: infinite;
}
.bouton-prochainement .point_3 {
  display: inline-block;
  animation: point_3 0.8s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes point_1 {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes point_2 {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes point_3 {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 0;
  background-color: #549B85;
  color: #F1C849;
  font-family: "truenolight";
}
footer a {
  color: #F1C849;
  text-decoration: none;
}
footer .mentions-légales {
  margin: 0 0 0 20px;
}
footer .mentions-légales:hover {
  animation: wiggle 1s;
}
@keyframes wiggle {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}
footer .contactez-nous {
  margin: 0 20px 0 0;
}
footer .contactez-nous:hover {
  animation: wiggle 0.82s;
  transform: translate(0, 0);
}

/* PAGE: MENTION LEGALE */
.mentions {
  text-align: center;
  font-family: "trueno";
  color: #549B85;
}

/* PAGE: MENU - LA NOTE ENCHANTÉE */
.conteneur__note-enchantée {
  border: 1px solid #fcdfdb;
  background-color: #fcdfdb;
  color: #3c1218;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  padding: 70px 80px 70px 80px;
  width: 65%;
  font-family: "Kalam", cursive;
}
.conteneur__note-enchantée header {
  font-family: "Devonshire", cursive;
  text-align: center;
}
.conteneur__note-enchantée header h1 {
  margin-top: 1px;
}
.conteneur__note-enchantée header i {
  font-size: 3rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  color: transparent;
}
.conteneur__note-enchantée .titre_menu__note-enchantée {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.conteneur__note-enchantée .titre_menu__note-enchantée h3 {
  margin: 0;
  padding: 0;
}
.conteneur__note-enchantée .menu_description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.conteneur__note-enchantée .menu_description div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.conteneur__note-enchantée .menu_description p {
  margin-bottom: 1px;
}
.conteneur__note-enchantée .titre_footer {
  text-align: center;
  font-family: "Devonshire", cursive;
  font-size: 1.5rem;
}
.conteneur__note-enchantée .titre_footer i {
  font-size: 1.8rem;
  background: linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  color: transparent;
}

/*# sourceMappingURL=style.css.map */
