/* PAGE: MENU - LE DELICE DES PAPILLES */


    /* Bloc principal */
    .conteneur__délice-papilles {
        border: 1px solid $background-papilles;
        background-color: $background-papilles;
        color: black;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2rem;
        padding: 3.5rem 4rem 1rem 4rem;
        width: 65%;
        font-family: $police-texte-papilles;
        font-weight: lighter;
    
        /* Titre bloc principal */
        .titre_conteneur {
            font-family: $police-titre-papilles;
            @include degrade-papilles;
            text-align: center;
    
            h1 {
                margin-top: 1px;
                font-size: 2.5rem;
                font-weight: lighter;
            }
        }
    
        /* Titre Entrée, Plat, Dessert */
        .titre_menu__délice-papilles {
            text-align: center;
            font-size: 1.2rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            
            img {
                width: 90%;
            }

            .fleche {
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                transform:  rotateY(180deg);
            }
    
            h3 {
                margin: 0;
                padding: 0;
                width: 40%;
                font-weight: lighter;
            }

            .bloc--entree, .bloc--plat, .bloc--dessert{
                @include surligne ($texte-papilles);
            }
        }
    
        /* Description plat - prix */
        .menu_description {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 90px;
            padding-right: 3rem;
            padding-left: 3rem;
    
            div {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            
            p {
                margin-bottom: 1px;
            }
        }
    
        /* Footer */
        .titre_footer {
            text-align: center;
            font-family: 'Devonshire', cursive;
            font-size: 1.5rem;
    
            i{
                font-size: 1.8rem;
                @include degrade-enchantee;
            }
        }
    }